html,
      body {
        padding: 0;
        margin: 0;
      }

      html {
        background-color: #131327;
      }

      div.LogoSize {
        position: absolute;
        top: 18%;
      }

      body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .logo {
        width: 100%;
        /* max-width: 58vh; */
        /* margin: 0 auto; */
      }

      body {
        margin: 0;
        color: #ffffff;
        font-family: CarterOne;
        font-size: 100%;
      }
      
      ul.social-set {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
      }

      ul.social-set li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
      
      a.sociali {
        font-size: 2em;
        line-height: 1.2em;
        padding: 10px;
        background: #131327;
        color: rgb(255, 255, 255);
        margin-right: 10px;
        margin-bottom: 10px !important;
        padding-bottom: 10px !important;
      }
      a.sociali:hover, a.sociali:focus {
        border-radius: 8px;
        background: rgb(255, 255, 255);
        color: #131327;
      }

      .flex-grid {
        display: flex;
        font-size: 125%;
        max-width: 58vh;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;

      }
      
      .center {
        justify-content: center;
        font-size: 200%;
      }

      @media (max-width: 400px) {
        .flex-grid {
          display: block;
        }
      }

      @font-face {
        font-family: 'Amaranth';
        src: url('./Fonts/Amaranth/Amaranth-Regular.ttf');
      }

      @font-face {
        font-family: 'Amaranth-Bold';
        src: url('./Fonts/Amaranth/Amaranth-Bold.ttf');
      }

      @font-face {
        font-family: 'Amaranth-BoldItalic';
        src: url('./Fonts/Amaranth/Amaranth-BoldItalic.ttf');
      }

      @font-face {
        font-family: 'Amaranth-Italic';
        src: url('./Fonts/Amaranth/Amaranth-Italic.ttf');
      }

      @font-face {
        font-family: 'CarterOne';
        src: url('./Fonts/Carter_One/CarterOne-Regular.ttf'); 
      }

      .Amaranth{
        font-family: Amaranth;
      }